    <div class="header clearfix">

      <nav class="navbar navbar-default">
        <div class="container-fluid p0">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
              <span class="sr-only">menu</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/">
              <img src="/img/logo.jpg" />
            </a>
          </div>

          <div class="collapse navbar-collapse navbar-right" id="nav-menu">
            <ul class="nav navbar-nav">

              <li {% if page.url  == '/tag/dziecko' %} class="active" {% endif %}><a href="/tag/dziecko" >dla dziecka</a></li>
              <li {% if page.url  == '/tag/mama'    %} class="active" {% endif %}><a href="/tag/mama"    >dla mamy</a></li>
              <li {% if page.url  == '/tag/mama'    %} class="active" {% endif %}><a href="/tag/mama"    >do druku</a></li>

              <li><a href="http://papersmile.pl" >sklep</a></li>

              <li><a href="https://www.facebook.com/papersmilepl/"  target="_blank" class="social facebook"></a></li>
              <li><a href="https://www.instagram.com/papersmilepl/" target="_blank" class="social instagram"></a></li>
            </ul>
          </div><!-- /.navbar-collapse -->

        </div><!-- /.container-fluid -->
      </nav>

    </div>