<div class="row">
  <div class="col-md-12">
    <h3 class="mt0">Ostatnie posty:</h3>
  </div>
</div>
{% for post in site.posts %}
<div class="row">
  <div class="col-md-12">
    <a href="{{ post.url }}"><img src="/img/p/{{ post.img }}" width="35" /></a>
    {{ post.title }}
    <a href="{{ post.url }}">zobacz</a>
  </div>
</div>
{% endfor %}



<div class="row">
  <div class="col-md-12">
    <h3>Tagi:</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
  {% for category in site.categories %}
      <a href="/tag/{{ category[0] | slugify }}" class="label label-papersmile">{{ category[0] }}</a>
  {% endfor %}
  </div>
</div>



<div class="row mt25">
  <div class="col-md-12">
    <div class="fb-page"
         data-href="https://www.facebook.com/papersmilepl"
         data-tabs=""
         data-small-header="true"
         data-adapt-container-width="true"
         data-hide-cover="false"
         data-show-facepile="true">
      <blockquote cite="https://www.facebook.com/papersmilepl" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/papersmilepl">Paper Smile</a>
      </blockquote>
    </div>
  </div>
</div>

