<div class="row">
  <div class="col-md-12 mt0">
    <h3>Ostatnie posty:</h3>
  </div>
</div>
{% for post in site.posts %}
<div class="row">
  <div class="col-md-12">
    <a href="{{ post.url }}">
      <img src="/img/p/{{ post.img }}" width="35" /> {{ post.title }}
    </a>
  </div>
</div>
{% endfor %}



<div class="row">
  <div class="col-md-12">
    <h3>Tagi:</h3>
  </div>
</div>
{% for category in site.categories %}
<div class="row">
  <div class="col-md-12">
    <a href="{{ post.url }}">
      {{ category.name }}
    </a>
  </div>
</div>
{% endfor %}