<div class="row">
  <div class="col-md-12">
    <h3 class="mt0">Ostatnie posty:</h3>
  </div>
</div>
{% for post in site.posts %}
<div class="row">
  <div class="col-md-12">
    <a href="{{ post.url }}"><img src="/img/p/{{ post.img }}" width="35" /></a>
    {{ post.title }}
    <a href="{{ post.url }}">zobacz</a>
  </div>
</div>
{% endfor %}



<div class="row">
  <div class="col-md-12">
    <h3>Tagi:</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
  {% for category in site.categories %}
      <a href="/category/{{ category[0] | slugify: 'latin' | slugify }}" class="label label-primary">{{ category[0] }}</a>
  {% endfor %}
  </div>
</div>
