---
layout: blog
title:  "Mój pierwszy rok! – Jak zachować najpiękniejsze chwile?"
date:   2018-02-04 11:11:11
categories: [mama,
karty do zdjęć,
karty dla dzieci,
papersmile,
papersmilepl,
dziecko,
noworodek,
rodzic,
zdjęcie,
fotografia,
instrukcja,
pamiątka,
prezent,
photocards,
babycards
]
img: moj-pierwszy-rok-jak-zachowac-najpiekniejsze-chwile.jpg
teaser: Pierwszy rok życia dziecka to najważniejszy czas w życiu malucha oraz jego rodziców ...
priority: 0.9
---
<h1 class="mt0">{{ page.title }}</h1>

<img src="/img/p/{{ page.img }}" width="100%" />
<img src="/img/thing.jpg" align="left" />

<br/><br/>

<p>Pierwszy rok życia dziecka to najważniejszy czas w życiu malucha oraz jego rodziców.
Tygodnie i miesiące mijają bardzo szybko. Warto zatem zadbać o to, by wspomnienia zostały na dłużej.
Jak to zrobić?
</p>

<img src="/img/p/moj-pierwszy-rok-jak-zachowac-najpiekniejsze-chwile-instrukcja.jpg" width="100%" />

<p>W tworzeniu pięknych wspomnień pomocne będą karty do zdjęć.  Każdy zestaw to zbiór unikalnych kart,
dzięki którym uda  się zachować cudowne chwile. Pierwszy ząbek? Pierwsze kroki? A może pierwsza zjedzona marchewka?</p>



<p>Zachęcamy do odwiedzenia naszej strony internetowej <a href="http://papersmile.pl">papersmile.pl</a> gdzie znajdziecie wszystkie zestawy naszych <a href="http://papersmile.pl/karty">kart</a>.</p>


<div class="row">
    <div class="col-md-12">
        <h3>Tagi:</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% for category in page.categories %}
        {% if site.pages[category[0] | slugify] %}
        <a href="/category/{{ category[0] | slugify }}" class="label label-primary">{{ category[0] }}</a>
        {% else %}
        <span class="label label-primary">{{ category[0] }}</span>
        {% endif %}
        {% endfor %}
    </div>
</div>

<a href="http://papersmile.pl">
    <img src="/img/polub-nas.png" width="100%"/>
</a>
